:root {
    --white: #fff;
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--Lightgray);
    margin: 0px;
    padding: 0px;
}

main {
    height: 100vh;
    display: grid;
    place-content: center;
    
}

.card {

    padding: 15px;
    background-color: var(--white);
    text-align: center;
    width: 250px;
    border-radius: 8px;

}

.img-qr {
    width: 250px;
    border-radius: 8px;
}

.text {
    font-weight: 700;
    font-size: 1.2em;
}

.text2 {
    font-weight: 400;
    font-size: .6em;
    color: var(--Grayishblue);
}


footer {
    text-align: center;

}
